.cart__btn{
    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 110px;
    border-radius: 20px;
    border: none;
    background-color: #C9F76F;
}
.cart__btn::after{
    content: attr(data-count);
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: -10px;
    right: -10px;
    background-color: #679B00;
    font-size: 30px;
    border-radius: 50%;
}
@media screen and (max-width: 1024px){
    .cart__btn{
        right: 30px;
        width: 50px;
        height: 50px;
    }
    .cart__btn::after{
        bottom: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        font-size: 18px;
    }   
}
@media screen and (max-width: 768px){
    .cart__btn{
        top: 10px;
        right: 50px;
    }
}